{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">KFM SYS <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if 'dashboard' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Cash Flow -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCashFlow" aria-expanded="true" aria-controls="collapseCashFlow">
            <i class="fas fa-fw fa-suitcase"></i>
            <span>Cash Flow</span>
        </a>
        <div id="collapseCashFlow" class="collapse {% if show_collapse_cash_flow %}show{% endif %}" aria-labelledby="headingCashFlow" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if 'incomes' in request.path %}active{% endif %}" href="{% url 'incomes' %}">Income</a>
                <a class="collapse-item {% if 'expanses' in request.path %}active{% endif %}" href="{% url 'expanses' %}">Expense</a>
                <a class="collapse-item {% if 'income_categories' in request.path %}active{% endif %}" href="{% url 'income_categories' %}">Income Category</a>
                <a class="collapse-item {% if 'expense_categories' in request.path %}active{% endif %}" href="{% url 'expense_categories' %}">Expense Category</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Settings -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSetting" aria-expanded="true" aria-controls="collapseSetting">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseSetting" class="collapse {% if show_collapse_setting %}show{% endif %}" aria-labelledby="headingSetting" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if 'users' in request.path %}active{% endif %}" href="{% url 'users' %}">User</a>
                <a class="collapse-item {% if 'roles' in request.path %}active{% endif %}" href="{% url 'roles' %}">Role</a>
                <a class="collapse-item {% if 'permissions' in request.path %}active{% endif %}" href="{% url 'permissions' %}">Permission</a>
                <a class="collapse-item {% if 'projects' in request.path %}active{% endif %}" href="{% url 'projects' %}">Project</a>
            </div>
        </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>