{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">LIST EXPENSE CATEGORY</h6>
        <a href="#" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i> Create
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Master Report</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through the expense-categories and display them in the table -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function renderExpenseCategoryTable(expense_categories) {
        const tableBody = document.querySelector("#dataTable tbody");
        if (!tableBody) return;
        tableBody.innerHTML = '';

        expense_categories.sort((a, b) => b.id - a.id);
        let fakeId = 1;
        expense_categories.forEach(expense_category => {
            const row = document.createElement("tr");
            const addCell = (value) => {
                const td = document.createElement("td");
                td.textContent = value || 'N/A';
                return td;
            };
            row.appendChild(addCell(fakeId++));
            row.appendChild(addCell(expense_category.name));
            row.appendChild(addCell(expense_category.description));
            row.appendChild(addCell(expense_category.master_report));
            row.appendChild(addCell(expense_category.user.username));
            row.appendChild(addCell(expense_category.status));

            // Action buttons
            const actionCell = document.createElement("td");
            const viewLink = createActionLinkIcon(`/expense-categories/${expense_category.id}/`, "btn-primary", "fa fa-sm fa-list-alt", "Show");
            viewLink.onclick = (e) => {
                e.preventDefault();
                window.location.href = `/expense-categories/${expense_category.id}/`;
            };
            actionCell.appendChild(viewLink);
            const editLink = createActionLinkIcon(`/expense-categories/${expense_category.id}/edit/`, "btn-secondary", "fa fa-xs fa-edit", "Edit");
            editLink.onclick = (e) => {
                e.preventDefault();
                window.location.href = `/expense-categories/${expense_category.id}/edit/`;
            };
            actionCell.appendChild(editLink);
            const deleteLink = createActionLinkIcon(`/expense-categories/${expense_category.id}/delete/`, "btn-danger", "fa fa-trash", "Delete");
            deleteLink.onclick = (e) => {
                e.preventDefault();
                window.deleteData(expense_category.id, row, `/api/expense-categories/${expense_category.id}/`, 'Expense Category');
            };
            actionCell.appendChild(deleteLink);
            
            row.appendChild(actionCell);
            tableBody.appendChild(row);
        });
        initializeDataTable();
    }

    document.addEventListener("DOMContentLoaded", async () => {
        try {
            const expense_categories = await window.fetchData('/api/expense-categories/');
            if (expense_categories && expense_categories.length > 0) {
                renderExpenseCategoryTable(expense_categories);
            } else {
                console.warn("No expense-categories found or failed to fetch.");
                renderExpenseCategoryTable([]);
            }
        } catch (error) {
            console.error("Initialization error:", error);
            renderExpenseCategoryTable([]);
        }
    });
</script>
{% endblock %}